<div class="row">
    <div id="alert" class="col-sm-12 form-group" style="margin-bottom: -5px;"></div>
    <div class="col-sm-12" style="margin-bottom: 10px;">
        <div class="row">
            <form class="form-inline">
                <div class="col-sm-12">
                    <div class="form-group">
                        <a class="btn btn-success" ng-click="fncaddBoMon()" role="button"><i class="glyphicon glyphicon-plus"></i> Thêm mới</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="glyphicon glyphicon-list"></i> Danh sách bộ môn</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Mã bộ môn</th>
                            <th>Tên bộ môn</th>
                            <th>Tên khoa</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Mô tả</th>
                            <th width="100px">Chức năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bomon in dsbomon">
                            <td>{{bomon.mabomon}}</td>
                            <td>{{bomon.tenbomon}}</td>
                            <td>{{bomon.tenkhoa}}</td>
                            <td>{{bomon.sodienthoai}}</td>
                            <td>{{bomon.email}}</td>
                            <td>{{bomon.mota}}</td>
                            <td class="function_btn">
                                <a class="btn btn-warning">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>

                                <a style="color: white;" ng-click="remove(bomon.mabomon)">
                                    <button class="btn btn-danger">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
